<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatWiki</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <a href="/Home/Index"><img src="~/assets/CatwikiLogo.svg" /></a>
    </header>
    <div class="content-body">@RenderBody()</div>
    <footer>
        <img src="~/assets/CatwikiLogoWhite.svg" />
        <p>&copy; Created by <a href="https://github.com/DarioPrazeres">Dario Prazeres</a>- devChallengs.io</p>
    </footer>
    <script src="~/Scripts/Script.js"></script>
</body>
</html>
